<%5+5 %> <!-- this is just ruby that gets run on the page. do you won't see it on page --> 

<%=6+6 %> <!-- this outputs ruby code to the screen. so you will see it on the page --> 


<h1>Tacos!!</h1> <!-- all the !DOC stuff is actually in layouts so you don't need it here -->
<ul>
<li> carnitas
<li> al pastor